.main {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  position: relative;
  overflow: hidden;
}

.welcome_back {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


@media screen and (max-width: 1000px) {
  .slider_wrapper {
    display: none;
  }

  .welcome_back {
    margin-right: 0;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}
