.registration {
    margin: 3em;
}

.onBoard {
    display: flex;
    gap: .6em;
}

.onBoard > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
}

.onBoard > div > a > p {
    font-size: .9em;
    white-space: nowrap;
  }

.reg_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    
}

.arrow_back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    cursor: pointer;
}

.reg_back {
    display: flex !important;
    justify-content: space-between !important;
    gap: 15em;
    align-items: center;
}

.reg_back > p {
    font-size: .9em;
}

.one {
    width: 1em;
    height: 1em;
    color: #fff;
    background-color: #242F9B;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.one > span {
    font-size: .8em;
}

.two {
    width: 1em;
    height: 1em;
    background-color: #242F9B;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two > span {
    font-size: .8em;
}

.three {
    width: 1em;
    height: 1em;
    background-color: #808080;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three > span {
    font-size: .8em;
}

.line1 {
    border-bottom: 1px solid #2F327D;
    width: 3em;
}

.line2 {
    border-bottom: 1px solid #2F327D;
    width: 3em;
}

.reg_field {
    border: 1px solid #E6E6E6;
    border-radius: 11.8321px;
    
}

.reg__field {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 2.5em;
   
}

.input_field {
    display: flex;
    flex-direction: column;
}

.reg_logo {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.reg_logo > div {
    display: flex;
    flex-direction: column;
    gap: .9em;
}

.reg_logo > div > h2 {
    font-size: 1.8em;
    color: #242F9B;
    font-weight: 700;
}

.reg_logo > div > span {
    color: #808080;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form > div {
    display: flex;
    flex-direction: column;
    gap: .9em;
}


.input {
    width: 100%;
    height: 3.8em;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #EAEBEC;
    color: #000;
}

.input:focus {
    outline: .8px solid #242F9B;
}
  


  .next_button {
    width: 100%;
    background-color: #242F9B;
    border: none;
    height: 2.5em;
    color: #fff;
    border-radius: 3px;
    margin-top: 1.5em;
    cursor: pointer;
    font-size: 1.2em;
  }



@media screen and (max-width: 640px) {
    .registration {
        margin: .8em;
    }

    .reg_back {
        gap: 2em;
    }

    .reg_back > span {
        display: none;
    }

    .reg_logo {
        width: 100%;
    }

    .onBoard {
        display: inline-flex;
        gap: .2em; 
    }

    .onBoard > div {
        gap: .1em;
    }

    .onBoard > div > a > p {
        font-size: .7em;
    }

    .reg__field {
        margin: .9em;
        width: fit-content;
    }

    .line1 {
        
        width: 1.5em;
    }
    
    .line2 {
        
        width: 1.5em;
    }

    .reg_logo > div > h2 {
        font-size: 1.6em;
    }
}